@namespace Travel.Shared
<footer class="page-footer">

    <div class="container">
        <div class="social-icons">
            <a target="_blank" href="https://github.com/xueqingleow">
                <img src="IMG/Github-icon.png" width="20" height="20" />
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCKV5GLdn5OnohrpK1iFxkjw">
                <img src="IMG/Youtube-icon.png" width="20" height="20" />
            </a>
        </div>
    </div>

</footer>

@code {

}