@namespace Travel.Shared
@inherits LayoutComponentBase

<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container">
        <NavMenu />
    </div>
</nav>
<main class="page lanidng-page">
    @Body
</main>

