@namespace Travel.Shared
<footer class="page-footer">

    <div class="container">
        <div class="links"><a href="/about">About me</a><a target="_blank" href="https://www.facebook.com/omerwasfi/">Contact me</a><a target="_blank" href="https://github.com/omarwasfi">Projects</a></div>
        <div class="social-icons">
            <a target="_blank" href="https://github.com/omarwasfi">
                <img src="IMG/Github-icon.png" width="20" height="20" />
            </a>
            <a target="_blank" href="https://www.facebook.com/omerwasfi/">
                <img src="IMG/Facebook-icon.png" width="20" height="20"/>
            </a>
            <a target="_blank" href="https://www.youtube.com/channel/UCKV5GLdn5OnohrpK1iFxkjw">
                <img src="IMG/Youtube-icon.png" width="20" height="20" />
            </a>
        </div>
    </div>


</footer>

@code {

}
