@page "/authorizationrequired"


<section class="portfolio-block contact">
    <div class="container">
        <div class="heading">
            <h2>Sign in or register</h2>
        </div>
        <form>
            <div class="form-group">
                <a class="btn btn-primary btn-block btn-lg"  href="Identity/Account/Login"  >Sign in</a>
                <a class="btn btn-primary btn-block btn-lg"  href="Identity/Account/Register">Register</a>
            </div>
        </form>
        <div class="illustration"></div>
    </div>
</section>

@code {
   
}
