@page "/"
@inject NavigationManager NavigationManager


<main class="page lanidng-page">
    <section class="portfolio-block block-intro">
        <div class="container">
            <div class="avatar" style="background-image:url(IMG/Logo.png);"></div>
            <div class="about-me">
                <p>
                    <br><br>Travel Company is the most reputable destination management company in Egypt that builds on a unique synergy of an integrated group of companies covering all segments of the tourism trade. It offers complete solutions
                    for the widest array of travel services including cultural, recreational, adventure, corporate, conferences and special group arrangements as well as the most exciting incentive travel packages.<br>
                </p>
            </div>
        </div>
    </section>
    <section class="portfolio-block photography">
        <div class="container">
            <div style="display: flex; justify-content: center;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iUUZPdV_fto?si=GG1cGqJLIARfdLBn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div style="height: 100px;"></div>
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="IMG/Trips/ANTARCTICA/main.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="IMG/Trips/ANTELOPE CANYON, ARIZONA/main.jpg"></a></div>
                <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="IMG/Trips/ARASHIYAMA BAMBOO GROVE, JAPAN/main.jpg"></a></div>
            </div>
        </div>
    </section>
    <section class="portfolio-block call-to-action border-bottom">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center content">
                <h3>Look Further?</h3><button  class="btn btn-outline-primary btn-lg" type="button" @onclick="GoToTrips" >View More</button>
            </div>
        </div>
    </section>
    
</main>

@code{

    protected void GoToTrips()
    {
        NavigationManager.NavigateTo("trips");
    }

}

