@using Travel.Components
    <div class="photo-card">
        <div class="photo-background" style="background-image:url('@PictureLocation');"></div>
        <div class="photo-details">
            <h1>@Name</h1>
            <p>
                @TripShortDescription
            </p>
            <div class="photo-tags">
                <ul>
                    <li><a href="/trip/@Trip.Id">More Details</a></li>
                </ul>
            </div>
        </div>
    </div>

@code {

    [Parameter]
    public Travel.Areas.Identity.Data.Trip Trip { get; set; }

    public string Name { get; set; }

    public string PictureLocation { get; set; }

    public string  TripShortDescription { get; set; }

    protected override void OnInitialized()
    {
        Name = Trip.Name;
        PictureLocation = Trip.PictureLocation;
        TripShortDescription = Trip.ShortDescription;
    }



}
