@page "/about"

<section class="portfolio-block block-intro border-bottom">
    <div class="container">
        <div class="avatar" style="background-image:url(IMG/Me.jpg);"></div>
        <div class="about-me">
            <p>Hello! I am <strong>Omar Wasfi</strong>. I'm a self-taught programmer.</p>
        </div>
    </div>
</section>
<section class="portfolio-block cv">
    <div class="container">
        <div class="hobbies group">
            <div class="heading">
                <h2 class="text-center"><br><strong>Career Summary</strong><br></h2>
            </div>
            <p class="text-center text-muted">
                <br>Self- directed, detail-oriented, and professional C# programmer with more than 2 years of experience in designing, developing, analyzing, and implementing desktop-based applications using C# language.Capable of learning new technologies
                and complete projects .<br><br>
            </p>
        </div>
        <div class="work-experience group">
            <div class="heading">
                <h2 class="text-center"><br><strong>TECHNICAL SKILLS</strong><br></h2>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>C# - Main Programming language</h3>
                        <h4 class="organization">Professional<br></h4>
                    </div>
                    <div class="col-md-6"><span class="period">2018 - Present</span></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>C++ &amp; QT</h3>
                    </div>
                    <div class="col-md-6"><span class="period">&nbsp; 2014 -&nbsp;<strong>2017</strong><br></span></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-6">
                        <h3>WPF - Desktop applications</h3>
                    </div>
                    <div class="col-md-6"><span class="period">2018 - Present</span></div>
                </div>
                <p class="text-muted">Checkout <a target="_blank" href="https://github.com/omarwasfi/W-SmartShop"><strong>W-SmartShop</strong></a><strong>&nbsp;</strong><br></p>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-6">
                        <h3>Blazor - Server side</h3>
                    </div>
                    <div class="col-md-6"><span class="period">4-2020 - Present</span></div>
                </div>
                <p class="text-muted">This website is my first blazor project.</p>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Database</h3>
                    </div>
                    <div class="col-md-6"><span class="period">2017 - Present</span></div>
                </div>
                <p class="text-muted">Working with stored procedures in MS SQL Server , SQLite.</p>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Entity Framework .net core</h3>
                    </div>
                    <div class="col-md-6"><span class="period">2020 - Present</span></div>
                </div>
                <p class="text-muted"><strong>Design a professional and optimized models with EF</strong><br></p>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Model&nbsp;Design<br></h3>
                        <h4 class="organization">Professional</h4>
                    </div>
                    <div class="col-md-6"><span class="period">2018 - Present</span></div>
                </div>
                <p class="text-muted">Design data models and make the database connections with Dapper or ADO.NET</p>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>ASP .Net Core<br></h3>
                    </div>
                    <div class="col-md-6"><span class="period">2020 - Present</span></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3><br>Object oriented Programming<br></h3>
                        <h4 class="organization">Professional<br></h4>
                    </div>
                    <div class="col-md-6"><span class="period">2014 - Present</span></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Design patterns</h3>
                    </div>
                    <div class="col-md-6"><span class="period">2020 - Present</span></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3><strong>Little bit of HTML, CSS , Unreal Engine 4</strong></h3>
                    </div>
                    <div class="col-md-6"><span class="period"></span></div>
                </div>
            </div>
        </div>
        <div class="education group">
            <div class="heading">
                <h2 class="text-center">Education</h2>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>High School</h3>
                        <h4 class="organization">Ismailia high School</h4>
                    </div>
                    <div class="col-6"><span class="period">09/2014 - 07/2017</span></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Computer Science U<strong>niversity</strong><br></h3>
                        <h4 class="organization">Shorouk Academy<br></h4>
                    </div>
                    <div class="col-md-6"><span class="period">09/2017 - Present</span></div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-info portfolio-info-card">
                        <h2>Contact Info</h2>
                        <div class="row">
                            <div class="col-1">
                                <img src="IMG/Business man-icon.png" width="25" height="25" />
                            </div>
                            <div class="col-9"><span>Omar Wasfi</span></div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="IMG/Contact-icon.png" width="25" height="25" />
                            </div>
                            <div class="col-9"><span><a target="_blank" href="https://www.facebook.com/omerwasfi/">Facebook</a></span></div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="IMG/Mail-icon.png" width="25" height="25" />
                            </div>
                            <div class="col-9"><span>alprincewasfi@gmail.com</span></div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="IMG/Location-icon.png" width="25" height="25" />
                            </div>
                            <div class="col-9"><span>Egypt,Ismailia</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@code {

}
