@page "/additionalinformation"

<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h2>ADditional Info</h2>
            </div>
            <form>
                <div class="form-group"><label for="email">First name</label><input class="form-control item" type="email" id="email"></div>
                <div class="form-group"><label for="email">Last name</label><input class="form-control item" type="email" id="email"></div>
                <div class="form-group">
                    <label for="email">Gender</label>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Male</label></div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Female</label></div>
                </div>
                <div class="form-group"><label for="name">Phone number</label><input class="form-control item" type="text" id="name"></div>
                <div class="form-group"><label for="name">National Number</label><input class="form-control item" type="text" id="name"></div>
                <div class="form-group"><label for="name">Email</label><input type="text" class="form-control item" id="name" /></div>
                <div class="form-group"><label for="name">Country</label><input class="form-control item" type="text" id="name"></div>
                <div class="form-group"><label for="name">City</label><input class="form-control item" type="text" id="name"></div>
                <div class="form-group"><button class="btn btn-primary btn-block btn-lg" type="submit">Confirm</button><button class="btn btn-outline-primary btn-block" type="submit">Skip</button></div>
            </form>
        </div>
    </section>
</main>
@code {

}
