@page "/trips"
@using Travel.Components;
@using Travel.Interfaces
@using Travel.Services
@using Travel.Areas.Identity.Data
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ITripDataService TripService




<section class="portfolio-block projects-cards">
    <div class="container">
        <div class="heading">
            <h2>Avilable trips</h2>
        </div>
        <div class="row">
            @foreach (Travel.Areas.Identity.Data.Trip trip in AllTrips)
            {
                <div class="row-cols-md-6 col-lg-4">
                    <TripTemplate Trip=@trip />
                    <div style="margin-bottom:15px" />
                </div>
            }
           
        </div>
    </div>

</section>

@code {

    private List<Travel.Areas.Identity.Data.Trip> AllTrips { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllTrips = await TripService.GetAllTripsAsync();
    }
}
